<div class="jumbotron text-center" style="margin-top:60px">
  <h1>
   Mean Authentication App
  </h1>
  <p class="lead"> welcome to our mean custom authentication application from scratch </p>
  <div>
   <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-4">
    <h1>Angular Cli</h1>
    <p>Angular Cli to generate components ,services and more</p>
  </div>
  <div class="col-md-4">
      <h1>Express Backend</h1>
      <p>Angular Cli to generate components ,services and more</p>
    </div>
    <div class="col-md-4">
        <h1>JWT Token</h1>
        <p>Angular Cli to generate components ,services and more</p>
      </div>
</div>
